*, *::before, *::after {
  @extend %border-box;
}

body {
   font-family: futura;
   margin: 0;
   color: $white;
 }

// Top section
.main-top {
  display: flex;
  flex-direction: column;
  background: url('#{$path-img}/camera.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 100vh;
  width: auto;
  padding: 0 6em;

  .container-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 12em;

    ul {
      display: flex;
      list-style: none;

      li {
        padding-left: 2em;
        &:hover {
          color: $orange;
          cursor: pointer;
        }
      }
    }
  }

  .quote {
  display: flex;
  flex-direction: column;
  align-items: center;

    .bar {
      height: .3em;
      width: 18em;
      background-color: $white;
      margin-top: 1em;
    }

    .color-word {
      color: $burnt-sienna;
      font-style: italic;
    }

    h1 {
      font-size: 8em;
      margin: 0;
      color: $burnt-sienna;
      font-style: italic;
    }

    button {
      font-family: futura;
      margin-top: 12em;
      margin-bottom: 2em;
      border-style: none;
      background-color: $orange;
      color: $white;
      border-radius: 8px;
      padding: 1em;
      font-size: 14px;
      transition: all 1s ease-in-out;

      &:hover {
        cursor: pointer;
        background-color: $burnt-sienna;
        transform: scale(1.1);
      }
    }
  }
}


.container-nav-two {
  height: 5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: $sail;
  padding: 0 6em;

  ul {
    display: flex;
    list-style: none;
    padding-left: 0;
    li {
      padding-right: 1em;
      &:hover {
        color: $orange;
        cursor: pointer;
      }
    }
  }

  p:hover {
  color: $orange;
  cursor: pointer;
  }

}

// Bottom section
.main-bottom {
  display: flex;
  flex-direction: column;

  .row-one {
    display: flex;
    height: 50vh;

    .baby {
      @extend %grayscale;
      &:hover {
        @extend %grayscale-to-color;
      }
      p {
        @extend %paragraph-padding;
      }
      background: url('#{$path-img}/baby.jpg');
      @include background-image-properties(no-repeat, center, cover);
      display: flex;
      align-items: flex-end;
      flex-basis: 50%;
    }
    .girl {
      @extend %grayscale;
      &:hover {
        @extend %grayscale-to-color;
      }
      p {
        @extend %paragraph-padding;
      }
      background: url('#{$path-img}/girl.jpg');
      @include background-image-properties(no-repeat, center, cover);
      display: flex;
      align-items: flex-end;
      flex-basis: 25%;
    }
    .eye {
      @extend %grayscale;
      &:hover {
        @extend %grayscale-to-color;
      }
      p {
        @extend %paragraph-padding;
      }
      background: url('#{$path-img}/eye.jpg');
      @include background-image-properties(no-repeat, center, cover);
      display: flex;
      align-items: flex-end;
      flex-basis: 25%;
    }
  }

  .row-two {
    display: flex;
    height: 50vh;
    .prince {
      @extend %grayscale;
      &:hover {
        @extend %grayscale-to-color;
      }
      p {
        @extend %paragraph-padding;
      }
      background: url('#{$path-img}/prince.jpg');
      @include background-image-properties(no-repeat, center, cover);
      display: flex;
      align-items: flex-end;
      flex-basis: 25%;
    }
    .girl-two {
      @extend %grayscale;
      &:hover {
        @extend %grayscale-to-color;
      }
      p {
        @extend %paragraph-padding;
      }
      background: url('#{$path-img}/girl-two.jpg');
      @include background-image-properties(no-repeat, center, cover);
      display: flex;
      align-items: flex-end;
      flex-basis: 25%;
    }
    .girl-three {
      @extend %grayscale;
      &:hover {
        @extend %grayscale-to-color;
      }
      p {
        @extend %paragraph-padding;
      }
      background: url('#{$path-img}/girl-three.jpg');
      @include background-image-properties(no-repeat, center, cover);
      display: flex;
      align-items: flex-end;
      flex-basis: 50%;
    }
  }
}

@media #{$brk-responsive} {
  body {
    text-align: center;
  }

  .main-top {
    display: flex;
    flex-direction: column;

  }

  .container-nav {
    display: flex;
    flex-direction: column;
  }

  .container-nav-two {
    display: none;
  }

  .main-bottom {
    display: flex;
    .row-one {
      flex-direction: column;
    }
    .row-two {
      flex-direction: column;
    }
  }
}
