// Descriptive color variables
$white : #FFFFFF;
$orange : #FF4500;
$burnt-sienna : #EC5D62;
$sail : #BDDAFA;

// Asset paths
$path-img : '../img';

// Media query breakpoints

$brk-responsive : '(max-width: 768px)';
